#dashboard {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.82);
    padding-top: 5px;
    font-size: 12px;
}

.row {
    margin-right: 10%;
}

@media (min-width: 768px) {
    #dashboard {
        margin-left: 232px;
    }
}

@media (max-width: 768px) {
    #dashboard {
        margin-top: 52px;
    }
}

.product {
    margin-top: 12vh;
}

/*
    Order Component Css
 */

#order>.table>tbody>tr>td, #order>.table>thead>tr>th {
    border: none;
}